@import	url(reset.css);

html {
	font-size: 30px;
}

.he_fo {
	min-height: 160px;
	font-size: 1.5rem;
	text-align: center;
	background-color: #FFE138;
	line-height: 150px;
}

.columns {
	width: 90vw;
	margin: auto;
	/*max-height: 1300px;*/
	display: flex;
	justify-content: space-between;
	align-items:flex-start;
	padding-top: 70px;
	padding-bottom: 70px;

}

.column {
	width: calc((100% - 100px)/3);
	border: 1px solid black;
}

.column.one {
	min-height: 350px;
}

.column.two {
	min-height: 400px;
}

.column.three {
	min-height: 500px;
}

.image1 {
	background-image:url(../img/rubka.png);
	background-size:cover;
	background-position:center;
	padding-bottom:100%;
}

.image2 {
	background-image:url(../img/hunting.png);
	background-size:cover;
	background-position:center;
	padding-bottom:100%;
}

.image3 {
	background-image:url(../img/parovoz.jpg);
	background-size:cover;
	background-position:center;
	padding-bottom:100%;
}

.description {
	padding: 20px 30px;
	font-size: .7em;
}
