@import	url(reset.css);

@keyframes moving {
	from {top: 0;
		left: 0;
	}
	to {top: 500px;
		left: 300px;
		background-color: green;}
}

body {
	background: red;
}

.ball {
	width: 200px;
	height: 200px;
	background-color: whitesmoke;
	border-radius: 100px;
	position: relative;
	animation-name: moving;
	animation-duration: 2s;
}