@import	url(reset.css);


.heading {
	height: 140px;
	background-color: white;
	border: none;
	display: flex;
	justify-content: space-between;
	color: red;
	position: fixed;
	width: 100%;
}

.heroblock {
	width: 100%;
	height: 850px;
	background-image:url("../img/evian_origins_logo.png");
	width: 100%;
	background-position: center;
}

.brandName {
	font-size: 50px;
	color: red;
	font-family: Arial;
	padding: 50px 50px;
}
	
a {
	font-family: Arial;
	font-size: 50px;
	color: red;
	text-decoration: none;	
}

.content {
	display: block;
	position: relative;
	margin-top: 150px;
	margin-left: 150px;
	margin-bottom: 150px;
}

.textblock {
	width: 1040px;
	height: 280px;
	border: 3px solid #F8BFC7;
	border-radius: 20px;
	box-sizing: border-box;
	padding: 20px;
	font-size: 25px;
	line-height: 29px;
}

.textblock.flex-block {
	display: flex;
}

.bottles {
	display: flex;
	padding-top: 150px;
	padding-bottom: 150px;
	justify-content: space-around;
	text-align: center;

}

.brands {
	padding-top: 10px;

}
.footing {
	height: 140px;
	background-color: #F8BFC7;
	border: none;
	color: white;
	display: flex;
	justify-content: space-between;
}

.copyright {
	font-size: 40px;
	font-family: Arial sans-serif;
	padding: 50px 50px;
}

.back {
	padding: 50px 50px;
	color: white;
}